@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@mixin defaultPadding {
  padding: 3px 16px;
}

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  color: $darkGrey;
  display: grid;
  grid-template-rows: 82px 1fr 82px;
  grid-template-areas: "header"
  "content"
  "footer";
}

.about {
  &__header {
    color: $gray;
  }
}

.article {
  &__content {
    @include defaultPadding
  }

  &__header {
    color: $intensiveRed;
  }
}

.blog {
  &--anchor:before {
    content: '';
    display: block;
    padding-top: 82px; /* header height + empty space */
    margin-top: -82px; /* header height to degrees padding’s space */
  }

  &__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__header {
    color: $gray;
  }

  @media (max-width: 700px) {
    &__articles {
      grid-template-columns: 1fr;
    }
  }
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;

  &__top {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
}

.main {
  grid-area: content;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  &__title {
    color: $violet;
  }

  &__link {
    text-decoration: none;
  }
}

.site-header {
  grid-area: header;
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  padding: 16px;
  color: $intensiveRed;
  background-color: $lightGrey;

  @media (max-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 32px;
  }
}

.navigation {
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  &__item {
    display: inline;
    margin: 0 16px;
  }

  &__link {
    text-decoration: none;
  }

  @media (max-width: 700px) {
    display: none;

    &--visible-js {
      display: block;
    }

    &__item {
      display: inline;
      margin: 16px 0;
    }

    &__list{
      flex-flow: column-reverse;
      margin: 0;
    }
  }
}

.navigation-menu-toggle {
  align-items: center;

  &__button {
    border: 0;
    outline: none;
    background: none;
  }

  @media (min-width: 701px) {
    display: none;
  }

  @media (max-width: 700px) {
    grid-column-start: 2;
  }
}

.post {
  &__content {
    padding: 3px 16px;
  }

  &__header {
    color: $darkGreen;
  }
}
